body {
    margin: ;
    font-family: 'Xanh Mono', monospace;
}

h1 {
    font-size: 50px;
    text-align: center;
}

.h2 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 10px 20px;
    font-weight: bold;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

p {
    color: seagreen;
}

.highlight {
    color: chocolate;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

section {
    height: 500px;
    padding-bottom: 150px;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.bio-area {
    background-image: url(header-bg.png);
}

.biography {
    background-image: url(biography-bg.png);
}

.latest-work {
    background-image: url(latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 150%;
}

.half-width img {
    width: 100%;
}

.latest-div {
    width: 15%;
    float: left;
    padding: 5px;
    margin: 2%;
}

.latest-div img {
    width: 120%;
    float: left;
    margin-left: 50px;
    padding: 20px;
}

.latest-def {
    text-align: justify;
    font-size: 30px;
    padding-bottom: 10px;
}

.what-say {
    padding: 40px;
}

p.block {
    text-align: center;
}